* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
body {
    background-image: url("/images/fundopizza7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}
  
section header {
    text-align: center;
    padding-top: 2vw;
    font-size: 35px;
}

section header:hover {
    cursor: pointer;
}

section article {
    position: relative;
    background-color: #e3ae44; 
    height: 35vw;
    width: 25vw;
    top: 8vw;
    border-radius: 5vw;
}

section article:hover {
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
    top: 9vw;
    cursor: pointer;
}

section #article1 {
    position: absolute;
    left: 20vw;
}

section #article2 {
    position: absolute;
    right: 26vw;
}

section article ul p {
    text-align: center;
    font-size: 30px;
    margin-top: 1vw;
}

section article ul p:hover {
    color: #f24523;
}

section article ul li {
    margin-left: 8vw;
    padding-top: 1vw;
    font-size: 17px;
    color: black;
}

section article ul li:hover {
    color: red;
}

section footer {
    position: absolute;
    top: 45vw;
    left: 36vw;
    font-size: 15px;
}
  