*{
  margin: 0;
  padding: 0;
  color: white;
}

body{
  background-color: black;
  overflow: hidden;
}

#info1{
  position: absolute;
  width: 100%;
  margin-top: 25px;
  left: 62%;
  font-size: 20px;
}

#info2{
  position: absolute;
  left: 73%;
  margin-top: 25px;
  font-size: 20px;
}

#info3{
  position: absolute;
  left: 82%;
  margin-top: 25px;
  font-size: 20px;
}

a{
  text-decoration: none;
}

span{
  position: absolute;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: justify;
}
  
video{
  position: absolute;
  margin-top: 20%;
  margin-left: 14%;
}

footer{
  position: absolute;
  background-color: #293335;
  width: 50%;
  height: 12%;
  margin-left: 50%;
  bottom: 0;
}

li{
  list-style-type: none;
   text-align: center;
}

ul{
  padding-top: 3px;
  padding-left: 5%;
}
  
 